.env
.db.sqlite3
__pycache__/
*.pyc
media/
staticfiles/
.DS_Store
.vscode/
.idea/
mypy_cache/
.pytest_cache/
coverage/
htmlcov/
*.log
celerybeat-schedule
instance
*.sqlite3
*.env
*.pot
*.mo
local_settings.py
*.iml

